WebApp/.vs/config/applicationhost.config
WebApp/.vs/WebApp/v15/Server/sqlite3/storage.ide-wal
WebApp/.vs/WebApp/v15/Server/sqlite3/storage.ide-shm
WebApp/.vs/WebApp/v15/Server/sqlite3/storage.ide
WebApp/.vs/WebApp/v15/.suo
